.section-body-transfer{
    margin: 20px 90px;
}

.new-border-transfer{
    border: 4px solid #F2F2F275;
    width: 859px;
    height: 426px;
    /* margin-left: 115px; */
    border-radius: 36px;
    margin-top: 20px;
    padding: 15px 30px;
}

.ff-transfer-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 145px;
    margin-top: 50px;
    gap: 50px;
}

.f-f-transfer{
    border:  2px solid rgba(236, 236, 236, 1);
    width: 207px;
    height: 206px;
    border-radius: 10px;
    padding: 50px 10px;
    text-align: center;
}
.f-f-transfer p{
    margin-bottom: 30px;

}


.f-f-transfer a{
    margin: 20px 15px;
    width: 90px;
    /* height: 43px; */
    padding: 10px 38px;
    border-radius: 10px;
    cursor: pointer;
    text-decoration-line: none;
    background-color: rgba(0, 0, 0, 1);
    color: #FFFFFF;
    font-size: 17px;
}
